<!doctype html>

<head>
    <style></style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <title>File Upload</title>
    <div style="width: 400px; height: 100px; overflow: hidden">
	    <img src="{{url_for('static', filename='IDFC_First_Bank_logo.jpg')}}" align="middle" width="400px" height="100px" />
    </div>

    <form method=post enctype=multipart/form-data>
        <label class="form-label" for="customFile"></label>
        <div style="width: 400px;">
            <input type="file" class="form-control" id="customFile" name=file />
        </div>
        <button style="margin: 10px;" type="submit" class="btn btn-primary">Upload</button>
    </form>
</body>
